.main-gioithieu{
    max-width: 1200px;
    margin: 90px auto;
}
.magin-page {
    margin: 30px;
    padding: 0px;
}

/*  */
.main-about {
    /* text-align: center; */
    display: flex;
}

.main-about-h4 {
    text-align: center;
}

.main-team {
    display: flex;
    margin: 0px;
}

.main-team-h4 {
    margin: 20px;
}

.about {
    padding: 50px 20px;
    background-color: #ffffff;
}

.about h4 {
    // font-size: 2rem;
    margin-bottom: 20px;
}

.about-img {
    display: flex;

}

.about img {
    width: 100%;
    max-width: 600px;
    margin: 5px;
}

.about .img-down .about-margin {
    margin: 5px;
}

.about .img-down {
    display: flex;

}

.about .img-down img {
    margin-left: 5px;

}

.about-img .img-left {
    margin-right: 5px;
}

.services {
    padding: 50px 20px;
    background-color: white;
}

.services img {
    width: 100%;
}

.services h4 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.services p {
    margin: 10px 0;
}

.why-choose-us {
    display: flex;
    padding: 50px 20px;
    background-color: #ffffff;
}

.why-choose-us-left {
    margin-right: 100px;
}

.why-choose-us img {
    width: 100%;
}

.why-choose-us h4 {
    // font-size: 2rem;
    margin-bottom: 20px;
}

.card-container {
    width: 300px;
    // border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    // font-family: Arial, sans-serif;
    margin-right: 15px;
}

.card-header {
    background-color: #00c3ff;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.card-content {
    padding: 20px;
    text-align: center;

}

.profile-picture {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.card-details h2 {
    margin: 15px 0 5px;
    font-size: 24px;
    color: #333;
}

.card-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #777;
}

.card-details .email {
    font-size: 14px;
    color: #b3b3b3;
    margin-top: 10px;
}